//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 12 17:46:49 2023
//! **************************************************************************

SCHEMATIC START;
COMP "dead_endx" LOCATE = SITE "P82" LEVEL 1;
COMP "dead_endy" LOCATE = SITE "P83" LEVEL 1;
COMP "pin1" LOCATE = SITE "P27" LEVEL 1;
COMP "pin2" LOCATE = SITE "P26" LEVEL 1;
COMP "o_SPI_MISO" LOCATE = SITE "P21" LEVEL 1;
COMP "ESTOP" LOCATE = SITE "P17" LEVEL 1;
COMP "i_Rst_L" LOCATE = SITE "P80" LEVEL 1;
PIN i_Rst_L_pin<0> = BEL "i_Rst_L" PINNAME PAD;
PIN "i_Rst_L_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "i_Clk" LOCATE = SITE "P87" LEVEL 1;
COMP "pin1x" LOCATE = SITE "P30" LEVEL 1;
COMP "pin1y" LOCATE = SITE "P33" LEVEL 1;
COMP "pin2x" LOCATE = SITE "P29" LEVEL 1;
COMP "pin2y" LOCATE = SITE "P32" LEVEL 1;
COMP "pulsesx" LOCATE = SITE "P34" LEVEL 1;
COMP "pulsesy" LOCATE = SITE "P41" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P9" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P6" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P5" LEVEL 1;
COMP "dead_end" LOCATE = SITE "P81" LEVEL 1;
COMP "pulses" LOCATE = SITE "P35" LEVEL 1;
COMP "i_SPI_CS_n" LOCATE = SITE "P23" LEVEL 1;
COMP "i_SPI_MOSI" LOCATE = SITE "P22" LEVEL 1;
COMP "i_SPI_Clk" LOCATE = SITE "P24" LEVEL 1;
SCHEMATIC END;

